@import "../../App.scss";
@import "../../Variables.scss";

.footer {
    padding-top: 42px;
    padding-bottom: 27px;
    background: $BackgroundDark;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            @include titleAndLogo($fz16, $fw400, $colorWhite, 24px);
        }
        a:hover {
            text-decoration: underline;
        }
    }

    &__items {
        display: flex;
        gap: 30px;
    }

    &__copyright {
        @include titleAndLogo($fz16, $fw400, $colorWhite, 24px);
    }
}
