.home-page {
    position: relative;

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 498px;
    }
    &__slide {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__slider-right {
        background: url("../../../assets/img/main/arrowRight.svg") 0 0 no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10;
        width: 17px;
        right: 7%;
        height: 30px;
        cursor: pointer;
    }
    &__slider-left {
        background: url("../../../assets/img/main/arrowLeft.svg") 0 0 no-repeat;
        position: absolute;
        top: 50%;
        z-index: 10;
        left: 7%;
        margin-right: 40px;
        width: 17px;
        height: 30px;
        cursor: pointer;
    }
}
